.layout {
  display: flex;
  flex: 1;
  justify-content: center;
  .box {
    margin-top: 82px;
    h2 {
      font-size: 24px;
      text-align: center;
      margin-bottom: 42px;
    }
  }
  .upload_btn {
    padding-left: 70px;
    padding-right: 70px;
    height: 40px;
    border-radius: 20px;
  }
}