.btn {
  @color: #111;
  outline: 0;
  padding: 6px 18px;
  color: transparent;
  font-size: 12px;
  background: transparent;
  border: 1px solid;
  border-color: transparent;
  border-radius: 2px;
  transition: all .2s ease;
  position: relative;
  cursor: pointer;

  &-default {
    background: @color;
    border-color: @color;
    color: #f5f5f5;
  }
  &[disabled] {
    cursor: not-allowed;
  }
  &-loading {
    padding-left: 38px !important;
    &-span {
      position: absolute;
      display: block;
      width: 14px;
      height: 14px;
      left: 16px;
      top: 50%;
      margin-top: -7px;
      animation: loadingCircle 1s infinite linear;
    }
  }


  &:hover {
    background: fade(@color, 90%);
    border-color: fade(@color, 90%);
  }

  &:active {
    transform: scale(.99);
  }

  &:active, &:focus {
    outline: 0;
  }

  &-lg {
    padding: 8px 25px;
    font-size: 14px;
    .btn-loading-span {
      transform: scale(1.4)
    }
  }
}

@keyframes loadingCircle {
  0% {
    transform-origin: 50% 50%;
    transform: rotate(0deg);
  }
  100% {
    transform-origin: 50% 50%;
    transform: rotate(360deg);
  }
}