@margin: 12px;
.photo-list {
  :local(.list) {
    width: 33.33%;
    margin: 0 @margin;
    &:last-child {
      margin-right: 0;
    }
    &:first-child {
      margin-left: 0;
    }
    :local(.photo) {
      margin-bottom: @margin * 2;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      transition: .3s all;
      img {
        display: block;
        width: 100%;
      }
      :local(.photoInfo) {
        @cubic : all .3s cubic-bezier(0.65, 0.05, 0.36, 1);
        transform: translate3d(0px, 2px, 0px);
        opacity: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        padding: 0 16px;
        width: 100%;
        color: fade(#fff, 90%);
        bottom:0;
        background: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.6));
        line-height: 42px;
        transition: @cubic;
        :local(.userName) {
          color: fade(#fff, 90%);
        }
        :local(.photoUser), :local(.action) {
          transition: @cubic;
          transform: translate3d(0px, 12px, 0px);
        }
        :local(.action) {
          display: flex;
          align-items: center;
        }
      }
      &:hover {
        :local(.photoInfo) {
          opacity: 1;
          transform: translate3d(0px, 0px, 0px);
          :local(.photoUser), :local(.action) {
            transform: translate3d(0px, 0px, 0px);
          }
        }
      }
    }
  }
}
